/* Basic jQuery Slider essential styles */

#slider_area{
    padding-top: 20px;
}

ul.bjqs{
    position:relative; 
    list-style:none;
    padding:0;
    margin:0;
    overflow:hidden; 
    display:none;
}

li.bjqs-slide{
    position:absolute; 
    display:none;
}

ul.bjqs-controls{
    list-style:none;
    margin:0;
    padding:0;
    z-index:9999;
}

ul.bjqs-controls.v-centered li a{
    position:absolute;
}

ul.bjqs-controls.v-centered li.bjqs-next a{
    right:0;
}

ul.bjqs-controls.v-centered li.bjqs-prev a{
    left:0;
}

ol.bjqs-markers{
    list-style: none; 
    padding: 0; 
    margin: 0; 
    width:100%;
}

ol.bjqs-markers.h-centered{
    text-align: center;
}

ol.bjqs-markers li{    
    background-color: #E47D7E;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

ol.bjqs-markers li a{
    display:inline-block;
    color: transparent;  
    width: 20px; 
    height: 20px;
}

p.bjqs-caption{
    display:block;
    width:96%;
    margin:0;
    padding:2%;
    position:absolute;
    bottom:0;
}

.active-marker a{    
    background-color: #ffffff;
    border-radius: 20px;
}

